

.container-orari {
  margin-top: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color:  #f9d8b3;
}

.overlay-orari {
  max-height: 1000px;
  margin: 0 auto;
  max-width: 768px;
  overflow: hidden;
  padding: 50px;
  position: relative;
  color: white;
  font-family: 'Lato';
  position: relative;
  text-align: center;
  z-index: 0;
  &:before {
    content: '';
    filter: blur(20px);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}